<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl_Q7pJHvD8USYhayGjbGhA99fUg9QzRY</string>
	<key>GCM_SENDER_ID</key>
	<string>834384860311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahitm.archive</string>
	<key>PROJECT_ID</key>
	<string>archive-2e8f3</string>
	<key>STORAGE_BUCKET</key>
	<string>archive-2e8f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834384860311:ios:a433a2427be0b3da9785d2</string>
</dict>
</plist>